<FilesMatch "\.(ico|pdf|flv|jpe?g|png|gif|js|css|swf)$">
    ExpiresActive On
    ExpiresDefault "access plus 1 year"
</FilesMatch>

RewriteEngine On

RewriteRule ^/$ cache/index.html [QSA]
RewriteRule ^([^.]+)$ cache/$1.html [QSA]
